body {
    font-family: "Trebuchet MS",Verdana,Arial;
}
body.home {
    text-align: center;
}
.size1 {
    font-size: 20pt;
    font-weight: bold;
}
.size2 {
    font-size: 180px;
    font-weight: bold;
    font-family: 'Exo',"Trebuchet MS",Verdana,Arial;
}
#buy {
    margin-top: 100px;
    height: 180px;
    line-height: 180px;
}
#sale {
    margin-bottom: 10px;
    height: 180px;
    line-height: 180px;
}
a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
#social-icons a, #social-icons a:visited {
    color: #000;
    margin-right: 10px;
}
body.faq {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
body.faq h2 {
    margin-bottom: 20px;
}
body.faq h3 {
    margin-left: 20px;
}
body.faq p.answer {
    margin-left: 40px;
    margin-bottom: 20px;
}
body.faq ul {
    margin-left: 80px;
}

@media only screen and (max-width: 767px) {
    .size2 {
        font-size: 130px;
    }
}
