body {
    text-align: center;
    font-family: "Trebuchet MS",Verdana,Arial;
}
.size1 {
    font-size: 20pt;
    font-weight: bold;
}
.size2 {
    font-size: 180px;
    font-weight: bold;
    font-family: 'Exo',"Trebuchet MS",Verdana,Arial;
}
#buy {
    margin-top: 100px;
    height: 180px;
    line-height: 180px;
}
#sale {
    margin-bottom: 10px;
    height: 180px;
    line-height: 180px;
}
a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
#social-icons a, #social-icons a:visited {
    color: #000;
    margin-right: 5px;
}