{% extends "base.html" %}

{% block content %}

    <body class="home">
        <!-- Primary Page Layout
          ================================================== -->

          <!-- Delete everything in this .container and get started on your own site! -->

            <div class="container">
                <div id="buy" class="row">
                    <div class="four columns alpha size1">compra</div>
                    <div class="ten columns size2">
                        {{ "%.2f"|format(buy_rate) }}
                    </div>
                    {% if buy_trend != "nochange" %}
                        <div class="two columns omega">
                            <i class="icon-arrow-{{ buy_trend }} icon-4x"></i>
                        </div>
                    {% endif %}
                </div>
              <div id="sale" class="row">
                   <div class="four columns alpha size1">venta</div>
                   <div class="ten columns size2">{{ "%.2f"|format(sell_rate) }}</div>
                   {% if sell_trend != "nochange" %}
                       <div class="two columns omega">
                            <i class="icon-arrow-{{ sell_trend }} icon-4x"></i>
                       </div>
                   {% endif %}
              </div>
              <div id="social-icons" class="row">
                  <a target="_blank" href="http://twitter.com/marcelor">
                    <i class="icon-twitter icon-2x"></i>
                  </a>
                  <a target="_blank" href="http://github.com/marcelor">
                    <i class="icon-github icon-3x"></i>
                  </a>
                  <a target="_blank" href="/faq">
                    <i class="icon-question-sign icon-3x"></i>
                  </a>
              </div>
              <div class="row">
                  por <a target="_blank" href="https://github.com/marcelor/">marcelor</a>
              </div>
              <div class="row">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="SPV8GY2TBK5GY">
                  <input type="image" src="https://www.paypalobjects.com/es_ES/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>

              <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-37034823-1']);
                _gaq.push(['_trackPageview']);
                (function() {
                  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
              </script>
          </div><!-- container -->

        <!-- End Document
        ================================================== -->
    </body>

{% endblock %}