<html>
<head>
    <title>Xchange</title>
    <link href='http://fonts.googleapis.com/css?family=Exo:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>
<body>
    <p id="buy">
        <span class="size1">compra</span> <span class="size2">18.90</span> <img src="/static/arrow-down.png" width="48px" height="48px" alt="arrow down" /> 
    </p>
    <p id="sale">
	<span class="size1">venta</span> <span class="size2">19.40</span> <img src="/static/arrow-up.png" width="48px" height="48px" alt="arrow up" /> 
    </p>
    <p>
	About
    </p>
    <p>
        <img src="/static/twitter.png" width="32px" height="26px" alt="twitter logo" />
    </p>
    <p>
        by <a target="_blank" href="https://github.com/marcelor/">marcelor</a>
    </p>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37034823-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
